@import "const";
@import "blocks/navbar";
@import "blocks/hero";
@import "blocks/card";
@import "blocks/logos";
@import "blocks/cta";
@import "blocks/offer";
@import "blocks/footer";
@import "blocks/slider";
@import "blocks/tile";
@import "blocks/examples";
@import "blocks/note";
@import "blocks/popup";
@import "blocks/advantage";
* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}
