.navbar {
  display: flex;
  padding: 32px 0;
  width: 1128px;
  margin: 0 auto;
}
@media screen and (max-width: 1128px) {
  .navbar {
    width: 768px;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .navbar {
    width: 405px;
  }
}
.navbar__logo {
  width: 88px;
  height: 36px;
  margin-right: 40px;
}
@media screen and (max-width: 1128px) {
  .navbar__logo {
    margin: 0 20px 0 10px;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .navbar__logo {
    display: none;
  }
}
.navbar__items {
  display: flex;
  gap: 48px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  .navbar__items {
    width: 300px;
    gap: 20px;
    flex-wrap: wrap;
    height: auto;
  }
}
.navbar__items__item {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(18, 17, 39, 0.7215686275);
  list-style-type: none;
}
.navbar__buttons {
  display: flex;
  gap: 8px;
}
.navbar__wrapper {
  display: flex;
  width: calc(100% - 128px);
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .navbar__wrapper {
    width: 405px;
    align-items: flex-start;
  }
}

.button {
  width: 102px;
  height: 40px;
  border-radius: 6px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(18, 17, 39, 0.7215686275);
  cursor: pointer;
}
.button--up {
  background-color: #444bd3;
  color: #fff;
}
.button--in {
  color: #121127;
  background-color: #fff;
}

.hero {
  max-width: 936px;
  margin: 88px auto 163px auto;
  text-align: center;
  position: relative;
}
.hero__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #121127;
  padding: 0 8px;
}
.hero__description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: rgba(18, 17, 39, 0.7215686275);
  margin: 20px 0 72px 0;
}
.hero__video {
  border-radius: 16px;
  width: 744px;
  height: 418px;
}
@media screen and (max-width: 768px) {
  .hero__video {
    width: 405px;
  }
}
.hero__diagram {
  height: 54px;
  width: 54px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 28px;
  left: -155px;
  background-color: #fff3f3;
  border-radius: 45px;
}
.hero__memoji {
  position: absolute;
  top: 95px;
  right: -18px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #57b8f6;
}
.hero__memoji__image {
  width: 100%;
}
@media screen and (max-width: 1128px) {
  .hero__memoji {
    top: 220px;
    right: 40px;
  }
}
.hero__image {
  width: 39px;
  height: 39px;
}
.hero__arrow {
  position: absolute;
  top: 611px;
  left: -86px;
}
.hero__notification {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 606px;
  right: -95px;
  background-color: #fff;
  border-radius: 12px;
  z-index: 2;
  box-shadow: 0px 40px 80px -16px rgba(0, 0, 0, 0.0784313725);
}
@media screen and (max-width: 1128px) {
  .hero__notification {
    position: relative;
    flex-direction: row;
    align-items: center;
    top: 0;
    right: 0;
    justify-content: center;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .hero__notification {
    justify-content: flex-start;
  }
}

.card__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  color: rgba(18, 17, 39, 0.4);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 1168px) {
  .card__title::before {
    content: "";
    position: absolute;
    left: -20px;
    height: 100%;
    border: 1px solid #444bd3;
  }
}
.card__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #121127;
  list-style-type: none;
}

.card {
  display: flex;
  padding: 14px 19px;
  position: absolute;
  align-items: center;
  top: 210px;
  left: -47px;
}
.card-second {
  top: 0;
  left: 0;
  position: relative;
  padding: 21px 22px;
}
.card__present {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  align-content: center;
  margin-right: 12px;
  background: linear-gradient(to bottom, #f78291, #e75c6b);
}
.card__present__image {
  width: 24px;
  height: 24px;
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 40px;
}
.card__info__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  color: #121127;
  margin-bottom: 7px;
}
.card__info__description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: #8b898f;
}
.card__message {
  border-radius: 50%;
  align-content: center;
  margin-right: 12px;
  width: 42px;
  height: 42px;
  background-color: #ffbb24;
}
.card__message__image {
  width: 24px;
  height: 24px;
}

.logos {
  display: flex;
  position: relative;
  height: 36px;
  padding: 0 19px;
}
.logos__item {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
}
.logos__item-item1 {
  top: 3px;
}
.logos__item-item2 {
  left: 39px;
}
.logos__item-item3 {
  left: 69px;
}
.logos__item-item4 {
  top: 3px;
  left: 99px;
  background-color: #5cb6e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  background-color: #444bd3;
}
.cta__wrapper {
  width: 744px;
  padding: 96px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .cta__wrapper {
    width: 405px;
  }
}
.cta__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 20px;
  padding: 0 41px;
  text-align: center;
}
.cta__p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.5607843137);
  margin-bottom: 20px;
  text-align: center;
}
.cta__button {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #444bd3;
  background-color: #fff;
  padding: 14px 32px;
  border-radius: 8px;
  cursor: pointer;
}
.cta__button--offer {
  color: #fff;
  background-color: #444bd3;
  max-height: 52px;
}
@media screen and (max-width: 1128px) {
  .cta__button {
    margin-top: 10px;
    float: right;
    align-self: flex-end;
  }
}

.offer {
  margin: 157px auto 60px auto;
  display: flex;
  justify-content: space-between;
  width: 1128px;
  align-items: center;
}
@media screen and (max-width: 1128px) {
  .offer {
    width: 746px;
    margin: 10px auto;
    flex-direction: column;
    align-items: flex-start;
    grid-area: 10px;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .offer {
    width: 405px;
  }
}
.offer__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 1128px) {
  .offer__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid #444bd3;
    bottom: -1px;
  }
}
.offer__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #121127;
  margin-bottom: 8px;
}
@media screen and (max-width: 1128px) {
  .offer__title {
    width: 400px;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .offer__title {
    margin: 50px 0 20px 0;
  }
}
.offer__title > span {
  color: #444bd3;
}
.offer__p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: rgba(18, 17, 39, 0.5607843137);
}

.footer__wrapper {
  margin: 56px auto 71px auto;
  width: 1128px;
  display: flex;
}
@media screen and (max-width: 1128px) {
  .footer__wrapper {
    width: 748px;
    justify-content: center;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .footer__wrapper {
    width: 405px;
    justify-content: center;
  }
}
.footer__copyright {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: rgba(18, 17, 39, 0.5607843137);
  text-align: center;
  width: 1128px;
  padding: 37px 0 40px 0;
  margin: 0 auto;
  border-top: 1px solid rgba(18, 17, 39, 0.1215686275);
}
@media screen and (max-width: 1168px) {
  .footer__copyright {
    width: 746px;
  }
}
@media screen and (max-width: 1168px) and (max-width: 768px) {
  .footer__copyright {
    width: 405px;
  }
}
.footer__description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: rgba(18, 17, 39, 0.5607843137);
  margin: 24px 0;
  width: 360px;
}
@media screen and (max-width: 768px) {
  .footer__description {
    width: 250px;
  }
}
.footer__contacts {
  max-width: 360px;
  margin-right: 24px;
}
.footer__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(192px, 1fr));
  justify-self: start;
}
@media screen and (max-width: 1168px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
@media screen and (max-width: 1168px) {
  .footer__card {
    display: inline-block;
  }
}

.socialMedia {
  display: flex;
  gap: 32px;
}
.socialMedia__item {
  list-style-type: none;
}

.footer__card {
  position: relative;
}
.footer__card .arrow-footer {
  display: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}
.footer__card .card__list {
  overflow: hidden;
  max-height: none;
  transition: max-height 0.3s ease;
}
.footer__card .card__list.active {
  max-height: 500px;
}
@media screen and (max-width: 1168px) {
  .footer__card .arrow-footer {
    display: block;
    color: rgba(18, 17, 39, 0.4);
  }
  .footer__card .card__list {
    max-height: 0;
  }
}

.arrow-footer.open {
  transform: rotate(90deg);
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider__wrapper {
    flex: 1 0 50%;
  }
}
.slider__dots {
  display: flex;
  gap: 8px;
  align-items: center;
}
.slider__dots__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32334c;
}
.slider__dots__dot--active {
  width: 8px;
  height: 8px;
  background-color: #9d097c;
}
.slider__dots__dot__wrapper--active {
  border: 1px solid #9d097c;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__arrow {
  background-color: #fff0f5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider__arrow--right {
  transform: rotate(180deg);
}
.slider__pagination {
  display: flex;
  gap: 16px;
  width: 172px;
  margin: 40px auto 0 auto;
}
@media screen and (max-width: 768px) {
  .slider__pagination {
    width: 405px;
    justify-content: center;
    gap: 40px;
  }
}

.tile {
  width: 264px;
  height: 322px;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.tile__wrapper {
  margin: 56px 24px;
}
.tile__logo {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.tile__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #121127;
  margin-bottom: 16px;
}
.tile__description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: rgba(18, 17, 39, 0.5607843137);
}

.examples {
  width: 1128px;
  margin: 192px auto 0 auto;
}
@media screen and (max-width: 1128px) {
  .examples {
    width: 748px;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .examples {
    width: 405px;
  }
}
.examples__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  color: #444bd3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (max-width: 1128px) {
  .examples__title {
    margin-left: 10px;
  }
}
.examples__header {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #121127;
  margin-bottom: 41px;
}
@media screen and (max-width: 1128px) {
  .examples__header {
    margin-left: 10px;
  }
}
.examples__wrapper {
  display: flex;
  gap: 120px;
}
@media screen and (max-width: 1128px) {
  .examples__wrapper {
    width: 746px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .examples__wrapper {
    width: 405px;
  }
}

.example {
  position: relative;
  width: 456px;
}
@media screen and (max-width: 768px) {
  .example {
    width: 405px;
    overflow: hidden;
  }
}
.example__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #444bd3;
  margin-bottom: 12px;
}
.example__description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: rgba(18, 17, 39, 0.5607843137);
  margin-bottom: 32px;
}
.example__image {
  width: 456px;
  height: 297px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .example__image {
    width: 405px;
  }
}
.example__list {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #121127;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .example__list {
    width: 405px;
    margin: 0 auto;
  }
}
.example__list__item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.example__list__daw {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90ecf4;
}

.note {
  background-color: #201f37;
  width: 196px;
  position: absolute;
  border-radius: 12px;
  top: 318px;
  right: -95px;
}
@media screen and (max-width: 768px) {
  .note {
    top: 336px;
    right: -25px;
    width: 150px;
  }
}
.note__title {
  padding: 13px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 8.29px;
  line-height: 130%;
  text-transform: uppercase;
  color: #7a7a7a;
}
.note__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
  gap: 11px;
}
.note__list__item {
  list-style: none;
  padding-left: 13px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 8.29px;
  line-height: 130%;
  color: #fff;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .note__list__item {
    padding-left: 3px;
  }
}
.note__list__item > img {
  margin-right: 8px;
}
.note__list__item > span {
  color: #7a7a7a;
}
.note__list__item:nth-child(2) {
  color: rgb(244, 203, 122);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.popup__wrapper {
  border-radius: 24px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 657px;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}
.popup__image {
  width: 100%;
  height: 100%;
  max-height: 657px;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #fff;
  width: 475px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 657px;
}
.modal__logo {
  margin-top: 136px;
}
.modal__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #121127;
  text-align: center;
  margin: 31px 0 13px 0;
}
.modal__offer {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #121127;
  text-align: center;
  margin-bottom: 39px;
  max-width: 308px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.modal__email {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 318px;
  padding: 13px 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #d9d9d9;
  box-sizing: border-box;
  outline: none;
}
.modal__email:focus {
  border-color: #121127;
}
.modal__submit {
  background-color: #000000;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 13px 21px;
  text-align: center;
  max-width: 318px;
}
.modal__rules {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #8d8d8d;
  margin-top: 24px;
  margin-bottom: 115px;
  max-width: 308px;
}

.close {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  right: 23px;
  top: 18px;
}
.close__image {
  width: 22px;
  height: 22px;
}

.advantage {
  width: 1128px;
  margin: 0 auto;
  padding-top: 24px;
}
@media screen and (max-width: 1128px) {
  .advantage {
    width: 748px;
  }
}
@media screen and (max-width: 1128px) and (max-width: 768px) {
  .advantage {
    width: 405px;
  }
}
.advantage__header {
  max-width: 604px;
  margin-bottom: 40px;
}
.advantage__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  color: #444bd3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.advantage__slogan {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #121127;
}
@media screen and (max-width: 768px) {
  .advantage__slogan {
    font-size: 20px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */