@import "mixins";
.hero {
    max-width: 936px;
    margin: 88px auto 163px auto;
    text-align: center;
    position: relative;
    &__title {
        @include font(700, 56px, 120%, $gray);
        padding: 0 8px;
    }
    &__description {
        @include font(400, 20px, 180%, $grayOpacity);
        margin: 20px 0 72px 0;
    }
    &__video {
        border-radius: 16px;
        width: 744px;
        height: 418px;
    }
    &__diagram {
        height: 54px;
        width: 54px;
        position: absolute;
        @include center();
        top: 28px;
        left: -155px;
        background-color: #fff3f3;
        border-radius: 45px;
    }
    &__memoji {
        position: absolute;
        top: 95px;
        right: -18px;
        @include circle(32px);
        background-color: #57b8f6;
        &__image {
            width: 39px;
            height: 39px;
        }
    }
    &__arrow {
        position: absolute;
        top: 611px;
        left: -86px;
    }
    &__notification {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 606px;
        right: -95px;
        background-color: $white;
        border-radius: 12px;
        z-index: 2;
        box-shadow: 0px 40px 80px -16px #00000014;
    }
}
.card {
    &__title {
        @include font(600, 14px, 170%, #12112766);
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include font(400, 14px, 180%, $gray);
        list-style-type: none;
    }
}