@import "mixins";
.navbar {
    display: flex;
    padding: 32px 0;
    width: 1128px;
    margin: 0 auto;
    @media screen and (max-width: 1128px) {
        width: 768px;
        @media screen and (max-width: 768px) {
            width: 405px;
            @media screen and (max-width: 420px) {
                width: 355px;
            }
        }
    }
    &__logo {
        width: 88px;
        height: 36px;
        margin-right: 40px;
        @media screen and (max-width: 1128px) {
            margin: 0 20px 0 10px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
    &__items {
        display: flex;
        gap: 48px;
        height: 24px;
        @media screen and (max-width: 768px) {
            width: 300px;
            gap: 20px;
            flex-wrap: wrap;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            // gap: 0px 0px;
        }
        &__item {
            @include font(500, 14px, 24px, $grayOpacity);
            list-style-type: none;
        }
    }
    &__buttons {
        display: flex;
        gap: 8px;
    }
    &__wrapper {
        display: flex;
        width: calc(100% - 128px);
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
            width: 405px;
            @media screen and (max-width: 420px) {
                width: 355px;
            }
        }
    }
}
.button {
    width: 102px;
    height: 40px;
    border-radius: 6px;
    @include font(500, 14px, 24px, $grayOpacity);
    cursor: pointer;
    @media screen and (max-width: 420px) {
         width: 70px;
    height: 30px;
    }

    &--up {
        background-color: $indigo;
        color: $white;
    }
    &--in {
        color: $gray;
        background-color: $white;
    }
}
