@import "../const";
.note {
    background-color: #201f37;
    width: 196px;
    position: absolute;
    border-radius: 12px;
    top: 318px;
    right: -95px;
    @media screen and (max-width: 768px) {
        top: 336px;
        right: -25px;
        width: 150px;
    }
    &__title {
        padding: 13px;
        font-family: Gilroy;
        font-weight: 700;
        font-size: 8.29px;
        line-height: 130%;
        text-transform: uppercase;
        color: #7a7a7a;
    }
    &__list {
        display: flex;
        flex-direction: column;
        padding-bottom: 13px;
        gap: 11px;
        &__item {
            list-style: none;
            padding-left: 13px;
            font-family: Gilroy;
            font-weight: 700;
            font-size: 8.29px;
            line-height: 130%;
            color: $white;
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
                padding-left: 3px;
            }
            & > img {
                margin-right: 8px;
            }
            & > span {
                color: #7a7a7a;
            }
            &:nth-child(2) {
                color: rgb(244, 203, 122);
            }
        }
    }
}
