@import "mixins";
.popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    @include center();
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &__wrapper {
        border-radius: 24px;
        box-shadow: 0px 20px 80px 0px #00000033;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 657px;
        max-width: 950px;
        margin: 0 auto;
        position: relative;
    }
    &__image {
        width: 100%;
        height: 100%;
        max-height: 657px;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.modal {
    background-color: $white;
    width: 475px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 657px;
    @media screen and (max-width: 768px) {
        // width: 405px;
    }
    &__logo {
        margin-top: 136px;
    }
    &__title {
        @include font(600, 40px, 120%, $gray);
        text-align: center;
        margin: 31px 0 13px 0;
    }
    &__offer {
        @include font(600, 20px, 120%, $gray);
        text-align: center;
        margin-bottom: 39px;
        max-width: 308px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 31px;
    }
    &__email {
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        width: 318px;
        padding: 13px 20px;
        @include font(400, 20px, 120%, #d9d9d9);
        box-sizing: border-box;
        outline: none;
        &:focus {
            border-color: $gray;
        }
    }
    &__submit {
        background-color: #000000;
        border-radius: 10px;
        @include font(600, 20px, 120%, $white);
        padding: 13px 21px;
        text-align: center;
        max-width: 318px;
    }
    &__rules {
        @include font(400, 15px, 120%, #8d8d8d);
        margin-top: 24px;
        margin-bottom: 115px;
        max-width: 308px;
    }
}
.close {
    position: absolute;
    @include circle(60px);
    background-color: #d9d9d9;
    right: 23px;
    top: 18px;
    &__image {
        width: 22px;
        height: 22px;
    }
}
