@import "mixins";
.slider {
    @media screen and (max-width: 420px) {
        width: 355px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex: 1 0 50%;
            justify-content: space-evenly;
        }
    }
    &__dots {
        display: flex;
        gap: 8px;
        align-items: center;
        &__dot {
            cursor: pointer;
            @include circle(4px);
            background-color: #32334c;
            &--active {
                width: 8px;
                height: 8px;
                background-color: #9d097c;
            }

            &__wrapper {
                &--active {
                    border: 1px solid #9d097c;
                    @include circle(24px);
                }
            }
        }
    }
    &__arrow {
        background-color: #fff0f5;
        @include circle(40px);
        cursor: pointer;
        &--right {
            transform: rotate(180deg);
        }
    }
    &__pagination {
        display: flex;
        gap: 16px;
        width: 172px;
        margin: 40px auto 0 auto;
        @media screen and (max-width: 768px) {
            width: 405px;
            justify-content: center;
            gap: 40px;
            @media screen and (max-width: 420px) {
                width: 355px;
            }
        }
    }
}
